.container {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
    margin: 3rem auto;
    width: 70%;
    max-width: 60rem;
    text-align: center;
  }

.chatBox {
    margin: 0 auto;
    width: 70%;
}